<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.generate.dao.ExamineevolunteerinformationEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.generate.entity.ExamineevolunteerinformationEO" >
    <id column="VolunteerKey" property="volunteerkey" />
    <result column="ExaminationNumber" property="examinationnumber" />
    <result column="VolunteerNumber" property="volunteernumber" />
    <result column="SchoolKey" property="schoolkey" />
    <result column="MajorKey" property="majorkey" />
    <result column="DeclareTime" property="declaretime" />
    <result column="AdmissionStatue" property="admissionstatue" />
    <result column="AdmissionTime" property="admissiontime" />
  </resultMap>
    <resultMap id="ResultMap2" type="java.util.HashMap" >
        <id column="volunteerkey" property="volunteerkey" />
        <result column="examinationnumber" property="examinationnumber" />
        <result column="volunteernumber" property="volunteernumber" />
        <result column="schoolkey" property="schoolkey" />
        <result column="majorkey" property="majorkey" />
        <result column="declaretime" property="declaretime" />
        <result column="admissionstatue" property="admissionstatue" />
        <result column="admissiontime" property="admissiontime" />
        <collection property="SchoolInformationEO" ofType="java.util.HashMap">
            <id column="schoolkey" property="schoolkey" />
            <result column="provincename" property="provincename" />
            <result column="schoolname" property="schoolname" />
            <result column="briefintroduction" property="briefintroduction" />
            <result column="phone" property="phone" />
            <result column="address" property="address" />
            <result column="createtime" property="createtime" />
        </collection>
        <collection property="MajorInformationEO" ofType="java.util.HashMap">
            <id column="majorkey" property="majorkey" />
            <result column="majorname" property="majorname" />
            <result column="createtime" property="createtime" />
        </collection>
        <!-- 刘笑天修改 20181012 16:04 -->
        <collection property="ExamineeinformationEO" ofType="java.util.HashMap">
            <id column="ExamineeKey" property="examineekey" />
            <result column="QuasiexaminationNumber" property="quasiexaminationnumber" />
            <result column="RealName" property="realname" />
            <result column="Sex" property="sex" />
            <result column="RegisteredResidence" property="registeredresidence" />
            <result column="PoliticalOutlook" property="politicaloutlook" />
            <result column="NativePlace" property="nativeplace" />
            <result column="Age" property="age" />
            <result column="IDCardNumber" property="idcardnumber" />
            <result column="Chinese" property="chinese" />
            <result column="Math" property="math" />
            <result column="ForeignLanguages" property="foreignlanguages" />
            <result column="Sports" property="sports" />
            <result column="OtherSynthesis" property="othersynthesis" />
            <result column="SpecialBonus" property="specialbonus" />
            <result column="TotalScore" property="totalscore" />
            <result column="GraduateSchool" property="graduateschool" />
            <result column="UserKey" property="userkey" />
            <result column="EMail" property="email" />
            <result column="PhoneNumber" property="phonenumber" />
        </collection>
    </resultMap>
    <!-- 获取考生志愿 刘笑天 20181011 -->
    <select id="getExamineeVolunteerInformation" resultMap="ResultMap2">
        select distinct SI."SchoolName",MI."MajorName",EVI.*
        from EXAMINEEVOLUNTEERINFORMATION EVI
        left join SCHOOLINFORMATION SI
        on EVI."SchoolKey" = SI."SchoolKey"
        left join MAJORINFORMATION MI
        on EVI."MajorKey" = MI."MajorKey"
        where "ExaminationNumber" = #{examinationnumber,jdbcType=VARCHAR}
        <trim suffixOverrides=",">
            <if test="schoolname != null">
                and SI."SchoolName" like '%'||#{schoolname}||'%'
            </if>
            <if test="majorname != null">
                and MI."MajorName" like '%'||#{majorname}||'%'
            </if>
        </trim>
        order by EVI."DeclareTime" desc
    </select>
    <!-- 验证考生志愿条数 刘笑天 20181024 -->
    <select id="getExamineeVolunteers" resultMap="ResultMap2">
        select distinct SI."SchoolName",MI."MajorName",EVI."DeclareTime",EVI."DeclareTime"
        from EXAMINEEVOLUNTEERINFORMATION EVI
        left join SCHOOLINFORMATION SI
        on EVI."SchoolKey" = SI."SchoolKey"
        left join MAJORINFORMATION MI
        on EVI."MajorKey" = MI."MajorKey"
        where "ExaminationNumber" = #{examinationnumber,jdbcType=VARCHAR}
        order by EVI."DeclareTime" desc
    </select>
    <!-- 报考学校查重 刘笑天 20181011 -->
    <select id="checkExamineeSchool" resultMap="BaseResultMap">
        select *
        from EXAMINEEVOLUNTEERINFORMATION EVI
        where EVI."ExaminationNumber" = #{examinationnumber,jdbcType=VARCHAR} and EVI."SchoolKey" = #{schoolkey,jdbcType=VARCHAR}
    </select>
    <!-- 考生报考志愿 刘笑天 20181011 -->
    <insert id="examineeDeclareVolunteer" parameterType="com.adc.da.generate.entity.ExamineevolunteerinformationEO">
        insert into EXAMINEEVOLUNTEERINFORMATION
        ("VolunteerKey","ExaminationNumber","VolunteerNumber","SchoolKey","MajorKey","DeclareTime")
        values
        (SEQ_EXAMINEEVOLUNTEER.nextval,#{examinationnumber},#{volunteernumber},#{schoolkey},#{majorkey},#{declaretime})
    </insert>
    <!-- 考生修改志愿顺序 刘笑天 20181011 -->
    <update id="examineeUpdateVolunteer" parameterType="com.adc.da.generate.entity.ExamineevolunteerinformationEO">
        <foreach collection="list" item="item" open="begin" close="end;">
            UPDATE EXAMINEEVOLUNTEERINFORMATION
            set
            "VolunteerNumber" =#{item.volunteernumber}
            where
            "VolunteerKey" = #{item.volunteerkey};
        </foreach>
    </update>
    <!-- 批量删除考生志愿 刘笑天 20181011 -->
    <delete id="examineeBatchDeleteVolunteer" parameterType="java.util.List">
        DELETE FROM EXAMINEEVOLUNTEERINFORMATION
        WHERE
        <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
            "VolunteerKey" = #{item.volunteerkey}
        </foreach>
    </delete>
  <!-- EXAMINEEVOLUNTEERINFORMATION table all fields -->
    <sql id="Base_Column_List" >
    "VolunteerKey","ExaminationNumber","VolunteerNumber","SchoolKey","MajorKey","DeclareTime","AdmissionStatue","AdmissionTime"
</sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="volunteerkey != null" >
        and volunteerkey ${volunteerkeyOperator} #{volunteerkey}
      </if>
      <if test="examinationnumber != null" >
        and examinationnumber ${examinationnumberOperator} #{examinationnumber}
      </if>
      <if test="volunteernumber != null" >
        and volunteernumber ${volunteernumberOperator} #{volunteernumber}
      </if>
      <if test="schoolkey != null" >
        and schoolkey ${schoolkeyOperator} #{schoolkey}
      </if>
      <if test="majorkey != null" >
        and majorkey ${majorkeyOperator} #{majorkey}
      </if>
      <if test="declaretime != null" >
        and declaretime ${declaretimeOperator} #{declaretime}
      </if>
      <if test="declaretime1 != null" >
        and declaretime &gt;= #{declaretime1}
      </if>
      <if test="declaretime2 != null" >
        and declaretime &lt;= #{declaretime2}
      </if>
      <if test="admissionstatue != null" >
        and "AdmissionStatue" ${admissionstatueOperator} #{admissionstatue}
      </if>
      <if test="admissiontime != null" >
        and admissiontime ${admissiontimeOperator} #{admissiontime}
      </if>
      <if test="admissiontime1 != null" >
        and admissiontime &gt;= #{admissiontime1}
      </if>
      <if test="admissiontime2 != null" >
        and admissiontime &lt;= #{admissiontime2}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.generate.entity.ExamineevolunteerinformationEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="volunteerkey">
        SELECT SEQ_EXAMINEEVOLUNTEERINFORMATION.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into EXAMINEEVOLUNTEERINFORMATION(<include refid="Base_Column_List" />)
    values (#{volunteerkey, jdbcType=VARCHAR}, #{examinationnumber, jdbcType=VARCHAR}, #{volunteernumber, jdbcType=INTEGER}, #{schoolkey, jdbcType=VARCHAR}, #{majorkey, jdbcType=VARCHAR}, #{declaretime, jdbcType=TIMESTAMP}, #{admissionstatue, jdbcType=INTEGER}, #{admissiontime, jdbcType=TIMESTAMP})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.generate.entity.ExamineevolunteerinformationEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="volunteerkey">
        SELECT SEQ_EXAMINEEVOLUNTEERINFORMATION.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into EXAMINEEVOLUNTEERINFORMATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="volunteerkey != null" >volunteerkey,</if>
                <if test="examinationnumber != null" >examinationnumber,</if>
                <if test="volunteernumber != null" >volunteernumber,</if>
                <if test="schoolkey != null" >schoolkey,</if>
                <if test="majorkey != null" >majorkey,</if>
                <if test="declaretime != null" >declaretime,</if>
                <if test="admissionstatue != null" >admissionstatue,</if>
                <if test="admissiontime != null" >admissiontime,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="volunteerkey != null" >#{volunteerkey, jdbcType=VARCHAR},</if>
                <if test="examinationnumber != null" >#{examinationnumber, jdbcType=VARCHAR},</if>
                <if test="volunteernumber != null" >#{volunteernumber, jdbcType=INTEGER},</if>
                <if test="schoolkey != null" >#{schoolkey, jdbcType=VARCHAR},</if>
                <if test="majorkey != null" >#{majorkey, jdbcType=VARCHAR},</if>
                <if test="declaretime != null" >#{declaretime, jdbcType=TIMESTAMP},</if>
                <if test="admissionstatue != null" >#{admissionstatue, jdbcType=INTEGER},</if>
                <if test="admissiontime != null" >#{admissiontime, jdbcType=TIMESTAMP},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.generate.entity.ExamineevolunteerinformationEO" >
    update EXAMINEEVOLUNTEERINFORMATION
       set  examinationnumber = #{examinationnumber},
            volunteernumber = #{volunteernumber},
            schoolkey = #{schoolkey},
            majorkey = #{majorkey},
            declaretime = #{declaretime},
            admissionstatue = #{admissionstatue},
            admissiontime = #{admissiontime}
     where  volunteerkey = #{volunteerkey}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.generate.entity.ExamineevolunteerinformationEO" >
        update EXAMINEEVOLUNTEERINFORMATION
        <set >
            <if test="examinationnumber != null" >
                "ExaminationNumber" = #{examinationnumber},
            </if>
            <if test="volunteernumber != null" >
                "VolunteerNumber" = #{volunteernumber},
            </if>
            <if test="schoolkey != null" >
                "SchoolKey" = #{schoolkey},
            </if>
            <if test="majorkey != null" >
                "MajorKey" = #{majorkey},
            </if>
            <if test="declaretime != null" >
                "DeclareTime" = #{declaretime},
            </if>
            <if test="admissionstatue != null" >
                "AdmissionStatue" = #{admissionstatue},
            </if>
            <if test="admissiontime != null" >
                "AdmissionTime" = #{admissiontime},
            </if>
        </set>
        where "VolunteerKey" = #{volunteerkey}
    </update>


    <!-- 根据id查询 EXAMINEEVOLUNTEERINFORMATION -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from EXAMINEEVOLUNTEERINFORMATION
     where volunteerkey = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from EXAMINEEVOLUNTEERINFORMATION
     where volunteerkey = #{value}

  </delete>

  <!-- EXAMINEEVOLUNTEERINFORMATION 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1)
      from EXAMINEEVOLUNTEERINFORMATION EVI
      left join SCHOOLINFORMATION SI
      on EVI."SchoolKey" = SI."SchoolKey"
      left join MAJORINFORMATION MI
      on EVI."MajorKey" = MI."MajorKey"
      left join EXAMINEEINFORMATION EI
      ON EI."QuasiExaminationNumber" = EVI."ExaminationNumber"
      <trim prefix="where" suffixOverrides="," prefixOverrides="and">
          <if test="schoolname != null">
              and SI."SchoolName" like '%'||#{schoolname}||'%'
          </if>
          <if test="provincename != null">
              and SI."ProvinceName" like '%'||#{provincename}||'%'
          </if>
          <if test="admissionstatue != null">
              and EVI."AdmissionStatue" = #{admissionstatue}
          </if>
          <if test="starttotalscore != null and endtotalscore">
              and EI."TotalScore" BETWEEN #{starttotalscore} AND #{endtotalscore}
          </if>
      </trim>
  </select>

    <!-- 获取所有考生报考的学校及志愿信息(含分页 模糊查询) 刘笑天修改 20181012 16:04-->
    <select id="queryByPage" resultMap="ResultMap2" parameterType="com.adc.da.base.page.BasePage">
        <!--select <include refid="Base_Column_List" /> from-->
        select "VolunteerKey","ExaminationNumber","SchoolName","MajorName","DeclareTime","VolunteerNumber","ExamineeKey" from
        (select tmp_tb.* , rownum rn from
        (select  EVI."VolunteerKey",EVI."ExaminationNumber",SI."SchoolName",MI."MajorName",EVI."DeclareTime",EVI."VolunteerNumber",EI."ExamineeKey"
        from EXAMINEEVOLUNTEERINFORMATION EVI
        left join SCHOOLINFORMATION SI
        on EVI."SchoolKey" = SI."SchoolKey"
        left join MAJORINFORMATION MI
        on EVI."MajorKey" = MI."MajorKey"
        left join EXAMINEEINFORMATION EI
        ON EI."QuasiExaminationNumber" = EVI."ExaminationNumber"
        <trim prefix="where" suffixOverrides="," prefixOverrides="and">
            <if test="schoolname != null">
                and SI."SchoolName" like '%'||#{schoolname}||'%'
            </if>
            <if test="provincename != null">
                and SI."ProvinceName" like '%'||#{provincename}||'%'
            </if>
            <if test="admissionstatue != null">
                and EVI."AdmissionStatue" = #{admissionstatue}
            </if>
            <if test="starttotalscore != null and endtotalscore">
                and EI."TotalScore" BETWEEN #{starttotalscore} AND #{endtotalscore}
            </if>
        </trim>
        order by EVI."DeclareTime" asc
        <if test="pager.orderCondition != null and pager.orderCondition != ''" >
            ${pager.orderCondition}
        </if>
        ) tmp_tb where rownum &lt;= ${pager.endIndex})
        where rn &gt;= ${pager.startIndex}
    </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from EXAMINEEVOLUNTEERINFORMATION
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>


    <resultMap id="ExamineevolunteerinformationMap" type="com.adc.da.generate.VO.ExamineevolunteerinformationVO" >
        <id column="VolunteerKey" property="volunteerkey" />
        <result column="ExaminationNumber" property="examinationnumber" />
        <result column="VolunteerNumber" property="volunteernumber" />
        <result column="SchoolKey" property="schoolkey" />
        <result column="MajorKey" property="majorkey" />
        <result column="DeclareTime" property="declaretime" />
        <result column="AdmissionStatue" property="admissionstatue" />
        <result column="AdmissionTime" property="admissiontime" />
        <result column="SchoolName" property="schoolname" />
        <result column="briefIntroduction" property="briefintroduction" />
        <result column="Phone" property="phone" />
        <result column="Address" property="address" />
    </resultMap>

    <!-- EXAMINEEVOLUNTEERINFORMATION table all fields -->
    <sql id="Select_Column_List" >
        VolunteerKey, ExaminationNumber, VolunteerNumber, SchoolKey, MajorKey, DeclareTime, AdmissionStatue, AdmissionTime
        ,SchoolName,briefIntroduction,Phone,Address
    </sql>

    <!--查询已经被学校录取的信息 宣文彬 2019/10/10-->
    <select id="selectAdminssionBySchool" resultMap="ExamineevolunteerinformationMap" parameterType="java.lang.String">
        SELECT s."SchoolName",e."AdmissionTime",m."MajorName",s."BriefIntroduction",s."Phone",s."Address"
        from
        EXAMINEEVOLUNTEERINFORMATION e,SCHOOLINFORMATION s,MAJORINFORMATION m
        WHERE e."ExaminationNumber"=#{ExaminationNumber,jdbcType=VARCHAR}
        AND e."MajorKey"=m."MajorKey" and e."SchoolKey"=s."SchoolKey"
        ORDER BY e."AdmissionTime" DESC
    </select>


</mapper>
