<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.generate.dao.UserinformationEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.generate.entity.UserinformationEO" >
    <id column="UserKey" property="userkey" />
    <result column="UserAccount" property="useraccount" />
    <result column="UserPassword" property="userpassword" />
    <result column="UserRole" property="userrole" />
    <result column="CreateTime" property="createtime" />
    <result column="Status" property="status" />
  </resultMap>
    <!-- 旧密码校验 刘笑天 20181022-->
    <select id="checkOldPassword" resultMap="BaseResultMap">
        SELECT * FROM USERINFORMATION
        WHERE "UserPassword" = #{userpassword} AND "UserKey" = #{userkey}
    </select>
    <!-- 用户登录 刘笑天-->
    <select id="userLogin" resultMap="BaseResultMap" resultType="com.adc.da.generate.entity.UserinformationEO">
        SELECT * FROM USERINFORMATION
        WHERE "UserAccount" = #{useraccount} AND "UserPassword" = #{userpassword}
    </select>
  <!-- USERINFORMATION table all fields -->
  <sql id="Base_Column_List" >
     "UserKey", "UserAccount", "UserPassword", "UserRole", "CreateTime","Status"
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="userkey != null" >
        and userkey ${userkeyOperator} #{userkey}
      </if>
      <if test="useraccount != null" >
        and useraccount ${useraccountOperator} #{useraccount}
      </if>
      <if test="userpassword != null" >
        and userpassword ${userpasswordOperator} #{userpassword}
      </if>
      <if test="userrole != null" >
        and userrole ${userroleOperator} #{userrole}
      </if>
      <if test="createtime != null" >
        and createtime ${createtimeOperator} #{createtime}
      </if>
      <if test="createtime1 != null" >
        and createtime &gt;= #{createtime1}
      </if>
      <if test="createtime2 != null" >
        and createtime &lt;= #{createtime2}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.generate.entity.UserinformationEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="userkey">
        SELECT SEQ_USERINFORMATION.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into USERINFORMATION(<include refid="Base_Column_List" />)
    values (#{userkey, jdbcType=VARCHAR}, #{useraccount, jdbcType=VARCHAR}, #{userpassword, jdbcType=VARCHAR}, #{userrole, jdbcType=VARCHAR}, #{createtime, jdbcType=TIMESTAMP})
  </insert>

  <!-- 动态插入记录 主键是序列 宣文彬 2019/10/10-->
  <insert id="insertSelective" parameterType="com.adc.da.generate.entity.UserinformationEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="userkey">
        SELECT SEQ_USERINFORMATION.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into USERINFORMATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="userkey != null" >"UserKey",</if>
                <if test="useraccount != null" >"UserAccount",</if>
                <if test="userpassword != null" >"UserPassword",</if>
                <if test="userrole != null" >"UserRole",</if>
                <if test="createtime != null" >"CreateTime",</if>
                <if test="status != null" >"Status",</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="userkey != null" >#{userkey, jdbcType=VARCHAR},</if>
                <if test="useraccount != null" >#{useraccount, jdbcType=VARCHAR},</if>
                <if test="userpassword != null" >#{userpassword, jdbcType=VARCHAR},</if>
                <if test="userrole != null" >#{userrole, jdbcType=VARCHAR},</if>
                <if test="createtime != null" >#{createtime, jdbcType=TIMESTAMP},</if>
                <if test="status != null" >#{status, jdbcType=VARCHAR},</if>
            </trim>
  </insert>
    <!--用户信息新增 宣文彬 2019/10/10-->
    <insert id="insertUserInfo" parameterType="com.adc.da.generate.entity.UserinformationEO" >
         INSERT  into "USERINFORMATION" (<include refid="Base_Column_List" />)
      values (#{userkey,jdbcType=VARCHAR}, #{useraccount,jdbcType=VARCHAR}, #{userpassword, jdbcType=VARCHAR}, #{userrole, jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
    </insert>

  <!-- 根据pk，修改记录 用户信息删除时修改用户的更改状态,并不会真正物理删除用户 宣文彬 2019/10/10-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.generate.entity.UserinformationEO" >
    update USERINFORMATION
       set  "UserAccount" = #{useraccount,jdbcType=VARCHAR},
            "UserPassword" = #{userpassword,jdbcType=VARCHAR},
            "UserRole" = #{userrole,jdbcType=VARCHAR},
            "CreateTime" = #{createtime,jdbcType=VARCHAR},
            "Status" = #{status,jdbcType=VARCHAR}
     where  "UserKey" = #{userkey,jdbcType=VARCHAR}
  </update>

  <!-- 修改记录，只修改只不为空的字段 宣文彬 2019/10/10 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.generate.entity.UserinformationEO" >
    update USERINFORMATION
    <set >
      <if test="useraccount != null" >
        "UserAccount" = #{useraccount},
      </if>
      <if test="userpassword != null" >
        "UserPassword" = #{userpassword},
      </if>
      <if test="userrole != null" >
        "UserRole" = #{userrole},
      </if>
      <if test="createtime != null" >
        "CreateTime" = #{createtime},
      </if>
        <if test="status != null" >
            "Status" = #{status},
        </if>
    </set>
     where "UserKey" = #{userkey}
  </update>

  <!-- 根据id查询 USERINFORMATION -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" />
      from USERINFORMATION
     where userkey = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from USERINFORMATION
     where userkey = #{value}

  </delete>

  <!-- USERINFORMATION 列表总数 使用原框架查询总数据  宣文彬2019/10/11-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from USERINFORMATION WHERE USERINFORMATION."UserRole" != '3'
      <if test="useraccount != null" >
          AND  "UserAccount" LIKE '%${useraccount}%'
      </if>
      <if test="status != null " >
          AND "Status" = ${status}
      </if>


  </select>

  <!-- 查询USERINFORMATION列表 使用原框架查询数据+模糊查询  -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from USERINFORMATION
              WHERE
              USERINFORMATION."UserRole" != '3'
              <if test="useraccount != null" >
                  AND  "UserAccount" LIKE '%${useraccount}%'
              </if>
              <if test="status != null " >
                  AND "Status" = ${status}
              </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
      ORDER BY "CreateTime" desc
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from USERINFORMATION
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>
    <!--获取所有用户信息（不分页） 刘志杰 2018-10-08 -->
    <select id="queryUserInfo" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List"/> from USERINFORMATION
        ORDER BY "CreateTime" desc
    </select>
    <!--获取所有用户信息（分页） 刘志杰 2018-10-08 -->
    <select id="queryUserInfoByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select <include refid="Base_Column_List" /> from
        (select tmp_tb.* , rownum rn from
        (select <include refid="Base_Column_List" /> from USERINFORMATION
        WHERE
        USERINFORMATION."UserRole" != '3' AND  "UserAccount" LIKE '%${useraccount}%'

        ) tmp_tb where rownum &lt;= ${pager.endIndex})
        where rn &gt;= ${pager.startIndex}
        ORDER BY "CreateTime" desc
    </select>

    <!--检查账户是否重复-->
    <select id="AccountRepeat" resultType="java.lang.String" parameterType="java.lang.String">
        select "UserKey" from USERINFORMATION WHERE "UserAccount"=#{useraccount,jdbcType=VARCHAR}
    </select>

</mapper>
